
body{
    background-color: aqua; 
}

.Huvud{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.regler{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.bilder{
    display: flex;
    justify-content: center;
    
}

.bilder img{
    height: 15rem;
    width: 25rem;
    
}